# Spring Boot configuration
server.port: 8888

spring:
  jpa:
    open-in-view: false

  datasource: #localhost:5433
    url: jdbc:postgresql://localhost:5432/shop_db?currentSchema=shop
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 080801

  flyway:
    schemas: shop

  cloud:
    config:
      enabled: true
      uri: http://localhost:${server.port}
      server:
        bootstrap: true
        git:
          uri: https://github.com/SOz03/TaskOnlineShop
          skipSslValidation: false
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: "*"

application:
  logback:
    name: main-logback

  notifications:
    time: 0 * * ? * *
    channels:
      vk:
        enabled: true
        day-format: EEEE dd MM yyyy
        dayWeek: monday 20 12 2021
        name: MESSAGE
        description: message vk
      mail:
        enabled: true
        day-format: EEEE dd MM yyyy
        dayWeek: monday 20 12 2022
        name: message
        description: message mail
      sms:
        enabled: true
        day-format: EEEE dd MM yyyy
        dayWeek:
        name: Happy Birthday!!!
        description: Happy Birthday, Ivan Popov!

