# Spring Boot configuration
spring:

  # Database
  datasource:
    url: jdbc:postgresql://localhost:5432/shop_db?currentSchema=shop
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 080801

  # Flyway
  flyway:
    schemas: shop

  #Timer
  application:
    message-settings:
     enabled: true #status for pay orders (true/false)
     time: 0 * * ? * *
     message-type:
#       payQ: false #status Quartz for pay orders (true/false)
       scheduled: MailMessage SMSMessage #(MailMessage/SMSMessage/all/MailMessage SMSMessage)
