<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <springProperty scope="context" name="standardLogback" source="spring.application.logback.name"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] ${standardLogback} %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <appender name="File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/log_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
        <!--            <maxFileSize>20MB</maxFileSize>-->
        <!--        </triggeringPolicy>-->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} ${standardLogback} [%X{X-B3-TraceId:-}] - %msg%n
            </pattern>
        </encoder>
    </appender>
    <logger name="src.main.java.ru.i.sys.labs" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>