<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="ConsoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <filter class ="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
            <level>ERROR</level>
        </filter>
        <encoder nam="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="ConsoleLog"/>
    </root>

    <logger name="ru.i.sys.labs" level="trace" additivity="false">
        <appender-ref ref="ConsoleLog"/>
        <appender-ref ref="FileLog"/>
    </logger>

</configuration>